.ok{color:#2EFEC8}
.ok-sub{color:#A9F5E1}
.error{color:red}
.error-sub{color:#F78181}
.no-top{margin-top:0px;}
.no-bottom{margin-bottom:0px;}

#detalleCancha #map-canvas, #comoLlegar #map-comollegar{width: 100%; height: 300px; padding: 0;}

.ui-header, .ui-footer{
	background-color: #8FBF1E !important;
    color: #FFF !important;
    text-shadow: 0 1px 0 #333 !important;
}

@media all and (min-width: 800px){
	#logo{width: 40% !important;}
}